<div class="user-data__section">
  <div class="card__container">
    <div class="card-row__container">
      <div class="user__data-label">
        <p>Name</p>
      </div>
      <div class="user__data-value">
        <p>
          <%= reportData.userData.name %>
        </p>
      </div>
    </div>
    <div class="card-row__container">
      <div class="user__data-label">
        <p>Sex</p>
      </div>
      <div class="user__data-value">
        <p>
          <%= reportData.userData.sex %>
        </p>
      </div>
    </div>
    <div class="card-row__container">
      <div class="user__data-label">
        <p>Age</p>
      </div>
      <div class="user__data-value">
        <p>
          <%= reportData.userData.age %>
        </p>
      </div>
    </div>
  </div>
  <div class="card__container">
    <div class="card-row__container">
      <div class="user__data-label">
        <p>College career</p>
      </div>
      <div class="user__data-value">
        <p>
          <%= reportData.userData.college_career %>
        </p>
      </div>
    </div>
    <div class="card-row__container">
      <div class="user__data-label">
        <p>Educational level</p>
      </div>
      <div class="user__data-value">
        <p>
          <%= reportData.userData.educational_level %>
        </p>
      </div>
    </div>
    <div class="card-row__container">
      <div class="user__data-label">
        <p>Date of realization</p>
      </div>
      <div class="user__data-value">
        <p>
          <%= reportData.userData.date %>
        </p>
      </div>
    </div>
  </div>
</div>